body {
}

#canvas {
  --translate-x: 0;
  --translate-y: 0;

  background: rgb(122, 74, 2);
  transform: translateX(calc(var(--translate-x) * -1px))
    translateY(calc(var(--translate-y) * -1px));
}
